:root{
    --lightblue:#f4f6fa;
    --grey:#444;
    --lightblack:rgba(101, 109, 119, .16);
    --white:#fff;
    --blue:#2196F3;
    --bluish:#656d77;
    --darkblue:#656d77;
    --lightgrey:#767676;
   --lightwhite: #FAFAFA;
  } 